@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body{
    font-family: 'Dancing Script', cursive;
    background-image: url(https://www.fda.gov/files/covid19-1600x900.jpg);
    background-size:cover ; 
    text-align: center; 
}

form{
    background-color:blue;
    margin:2% 10%;
    padding: 50px;
    opacity:0.8;
    border-radius:20px;
}

#button{
    padding: 8px;
    background-color: blue;
font-weight: bold;
color: darkblue;
border-radius: 4px;
}

label{
    font-size: 20px;
}
    
    


































[]